<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theman.holiday.dao.HolidayDAO">
	<select id="getDateList" resultType="java.util.Date">
		SELECT
			`closeDate`
		FROM
			`holiday`
	</select>
	
	<select id="existHolidayByCloseDate" parameterType="java.util.Date" resultType="boolean">
		SELECT
			count(1)
		FROM
			`holiday`
		WHERE
			date_format(`closeDate`, '%y-%m-%d') = date_format(#{targetDate}, '%y-%m-%d')
	</select>
	
	<delete id="deleteHolidayByCloseDate" parameterType="java.util.Date">
		DELETE
		FROM
			`holiday`
		WHERE
			date_format(`closeDate`, '%y-%m-%d') = date_format(#{targetDate}, '%y-%m-%d')
	</delete>
	
	<insert id="insertHoliday" parameterType="java.util.Date">
		INSERT INTO `holiday`
		(
			`closeDate`
		)
		VALUES
		(
			#{targetDate}
		)
	</insert>
</mapper>