<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theman.menu.dao.MenuDAO">
	<select id="getType" resultType="com.theman.menu.model.ServiceType">
		SELECT
			`id`
			,`type`
		FROM
			`service_type`
		WHERE
			`isUse` = true
	</select>
	
	<update id="deleteMenuType">
		UPDATE `service_type`
		SET
			`isUse` = false
			,`updatedAt` = NOW()
		WHERE
			<foreach collection="list" item="item" separator="or">
				`id` = #{item}
			</foreach>
	</update>
	
	<insert id="insertMenuType" parameterType="java.util.List">
		INSERT INTO `service_type`
		(`type`)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(#{item})
		</foreach>
	</insert>
	
	<insert id="insertSpecificMenu" parameterType="map" >
		INSERT INTO `service_specific`
		(
			`typeId`
			, `specificType`
			, `price`
			, `requiredTime`
		)
		VALUES
		(
			#{typeId}
			, #{specificType}
			, #{price}
			, #{requiredTime}
		)
	</insert>
	
	<select id="selectMenu" resultType="com.theman.menu.model.Menu">
		SELECT
			a.`id`
		    , b.`type`
		    , a.`specificType`
		    , a.`price`
		    , a.`requiredTime`
		FROM
			`service_specific` as a
		INNER JOIN
			`service_type` as b
		ON
			a.`typeId` = b.`id`
		WHERE
			b.`isUse` = true AND a.`isUse` = true
	</select>
	
	<update id="deleteSpecificMenu">
		DELETE
		FROM
			`service_specific`
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteSpecificMenuByTypeId">
		UPDATE `service_specific`
		SET
			`isUse` = false
			, `updatedAt` = NOW()
		WHERE
			<foreach collection="list" item="item" separator="or">
				`typeId` = #{item}
			</foreach>
	</delete>
	
	<update id="updateSpecificMenu" parameterType="map">
		UPDATE `service_specific`
		SET
			`typeId` = #{typeId}
			, `specificType` = #{specificType}
			, `price` = #{price}
			, `requiredTime` = #{requiredTime}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<select id="selectMenuById" resultType="com.theman.menu.model.Menu">
		SELECT
			a.`id`
		    , b.`type`
		    , a.`specificType`
		    , a.`price`
		    , a.`requiredTime`
		FROM
			`service_specific` as a
		INNER JOIN
			`service_type` as b
		ON
			a.`typeId` = b.`id`
		WHERE
			a.`id` = #{id}
	</select>
</mapper>