@charset "UTF-8";

@font-face {
	src : url("../fonts/NIXGONFONTS L 2.0.ttf");
	font-family: "nixgon";
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_CHOICE_B';
    src: url("../fonts/ELAND 초이스 B.ttf");
}

.font-nixgon {font-family: "nixgon";}
.font-ELAND-CHOICE {font-family: "ELAND_CHOICE_B";}
.font-ELAND-NICE {font-family: "ELAND_Nice_M";}


/* admin nav */
.contents {margin-top: 2.5%;}
#leftNav {background-color: #f2e8d5;}
#leftNav li {margin-top: 15%;}
#leftNav li a {color: black;}
#leftNav li a:hover {font-weight: bold;}

/* admin/menu_update_view */
#menuChangeBox {width: 70%}
#menuChangeBox .type-change-box label {width: 20%;}
#menuChangeBox .type-change-box select {width: 30%;}
#menuChangeBox .type-change-box button {width: 5%;}
.contents #menu #specificMenu {width: 80%;}
.contents #menu #specificMenus {padding-left: 5%; padding-right: 5%; padding-top: 5%; padding-bottom: 5%;}
.contents #menu #specificMenu .specific-menu-introduce{font-family: "nixgon"; font-size: 1.4rem;}
.contents #menu #specificMenu h3, h5 {font-family: "ELAND_CHOICE_B"; font-size: 1.8rem;}
.modal-body .type-change-box label {width: 30%;}

/* admin reservation check */
.contents #reservationCheckBox {width: 80%;}
.contents #reservationCheckBox button {background-color: white; padding: 1em;}
.contents #reservationCheckBox button:hover {background-color: #f2e8d5;}
.contents #datePick {width: 40%; height: 20em; border: medium solid;}
.contents #datePick #date {height: 15em; overflow: auto;}
.contents #detailPick {width: 40%; height: 20em; border: medium solid;}
.contents #detailPick #detail {height: 15em; overflow: auto;}
.contents #datePick #dateTitle {background-color: #131313;}
.contents #datePick #dateTitle h1 {color: white;}
.contents #detailPick #detailTitle {background-color: #f2e8d5;}
.contents #detailPick #detailTitle h1 {color: black;}
.contents table {width: 50%;}
.contents table th {background-color: #131313; color: white;}
